.bouttonCat{
    display: flex;
    gap:20px;
}
.niveauBut{
    background-color: brown;
}
#questions-container,#A2-questions-container,#B1-questions-container,
#B2-questions-container,#C1-questions-container,#C2-questions-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}
#questions-container.open,#A2-questions-container.open,#B1-questions-container.open,
#B2-questions-container.open,#C1-questions-container.open,#C2-questions-container.open {
    max-height: 1000px;
}
#category-buttons,#a2-buttons, #b1-buttons , #b2-buttons, #c1-buttons, #c2-buttons { 
    margin-bottom: 20px;
}


.statistiques-container{
    /* border: 1px solid black; */
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}


.stats{
    background-color: lightgreen;
    border-radius: 2%;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.stat-title{
    font-size: 650%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.conteneur{
    display:flex;
    gap: 5px;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}
#userContainer,
#usersContainer {
    width:50%;
    height:100vh;
    border:2px solid #007bff;
    border-radius:5px;
    padding:10px;
    margin: 10px;
    background-color:#f9f9f9;
    overflow:auto;
}
label{
    margin-top: 10px;
}
/* Style pour l'input */
#searchInput {
    width:100%;
    padding:10px;
    margin-bottom:10px;
    border:1px solid #ccc;
    border-radius:5px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
    outline:none;
    transition:all 0.3s ease;
}

#searchInput:focus{
    border-color:#007bff;
    box-shadow:0 2px 6px rgba(0, 123, 255, 0.4);
}

/*Style pour le select*/
#sortSelect {
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    background-color:#fff;
    appearance:none;
    outline:none;
    cursor:pointer;
    transition:all 0.3s ease;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
}

#sortSelect:hover{
    border-color:#007bff;
}

#sortSelect:focus{
    border-color:#007bff;
    box-shadow:0 2px 6px rgba(0, 123, 255, 0.4);
}

/* Ajout d'une flèche personnalisée pour le select */
#sortSelect {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23007bff' d='M0 3l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}
