.bouttonCat{
    display: flex;
    gap:20px;
}
.niveauBut{
    background-color: brown;
}
#questions-container,#A2-questions-container,#B1-questions-container,
#B2-questions-container,#C1-questions-container,#C2-questions-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}
#questions-container.open,#A2-questions-container.open,#B1-questions-container.open,
#B2-questions-container.open,#C1-questions-container.open,#C2-questions-container.open {
    max-height: 1000px;
}
#category-buttons,#a2-buttons, #b1-buttons , #b2-buttons, #c1-buttons, #c2-buttons { 
    margin-bottom: 20px;
}



.statistiques-container{
    /* border: 1px solid black; */
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}


.stats{
    background-color: lightgreen;
    border-radius: 2%;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.stat-title{
    font-size: 650%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
